@import url("../fonts/octin_sports_rg.ttf");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings:"wdth" 100;
    font-display: fallback;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff
}

.content{
    border-radius: 15px;
    background-color: #fff;
    width: 960px;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    position:relative;
}
.content::before{
    content: "";
    position:absolute;
    background-color: #C59855;
    width: 50%;
    height: 100%;
}
.first-content{
    display: flex; 
}

.title{
    font-size:28px;
    font-weight: bold;
    
}

.title-primary{
    color:black;
}

.title-second{
    color:#C59855;
    
}
.descripition{
    font-size: 14px;
    font-weight: 300;
    color:black;
    line-height:30px;
}

.btn{
    border-radius:15px;
    text-transform: uppercase;
    color:black;
    font-size:10px;
    padding:10px 50px;
    cursor: pointer;
    font-weight: bold;
    width:150px;
    align-self: center;
    border-width: 0px;
}

.btn-primary{
    background-color: transparent;
    border: 1px solid black;
}
.btn-primary:hover{
    background-color: black;
    color:#C59855;
}
.btn-second{
    background-color: #C59855;
    border: 1px solid #C59855;
}
.btn-second:hover{
    background-color: black;
    color:#C59855;
}
.first-column{
    text-align: center;
    flex: 1 0 auto;
    z-index: 10;
}

.second-column{
    flex: 2 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-social-media{
    color:#95a5a6;
}
.link-social-media:not(:first-child){
    margin-left:12px;
}
.form{
    display: flex;
    flex-direction: column;
    width: 55%;
}
.form input{
    height: 45px;
    width: 100%;
    border:none;
    background-color: #ecf0f1;
}

.label-input{
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin:7px;
}

.icon-modify{
    color: #C59855;
    padding: 0 6px;
}